* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-bottom: 4rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #045FD0;
}

.navbar > span {
  font-size: 1.75rem;
  color: white;
}

.navbar > h1 {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  padding-left: 0.5rem;
}

.card--page {
  display: flex;
  justify-content: center;
}

.card--container {
  display: flex;
  justify-content: center;
  max-width: 960px;
  padding-top: 4rem;
}

.location-image {
  max-width: 400px;
  height: auto;
  align-self: start;
  border-radius: 0.5rem;
}

.card--text-container {
  align-self: center;  
  flex: 1 1 auto;
  padding-left: 2rem;
}

.card--text-container > h1 {
  font-size: 2rem;
}

.card--text-container > p {
  line-height: 1.5;
  padding-top: 1rem;
}

.card--google-maps {
  padding-bottom: 0.5rem;
}

.card--marker {
  color: #F55A5A;
}

.card--location {
  padding-left: 0.5rem;
}

.card--maps-link {
  padding-left: 3rem;
}

.card--maps-link > a {
  color: #918E9B;
}

.dates {
  font-weight: bold;
  padding-top: 2rem;
}